<div class="coursework-list-container">
  <h2>Select Course Works from the List</h2>
  <div *ngIf="loading">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!loading">
    <div class="coursework-list-section">
      <div class="coursework-list-items select-all-checkbox">
        <input type="checkbox" id="selectAll" [checked]="isAllSelected()" (change)="toggleSelectAll()">
        <label for="selectAll">Select All</label>
      </div>
      <div *ngFor="let item of courseWorkList" class="coursework-list-items">
        <input type="checkbox" [id]="item.id" [checked]="selectedCheckboxes.includes(item.id)"
          (change)="toggleCheckbox(item.id)">
        <label [for]="item.id">{{ item.title }}</label>
      </div>
    </div>
  </div>
</div>
<button [disabled]="selectedCheckboxes.length === 0 && selectedMaterials.length === 0" (click)="submitSelections()">Next</button>