.teamscourses-container {
    margin: 50px auto;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamscourses-container h2 {
    color: #2c3e50;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.class-option {
    margin-bottom: 10px; /* Adjust spacing between each class option */
}


button {
    margin-top: 20px; /* Adjust spacing between class options and the button */
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
