.course-container {
    margin: 50px auto;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-container h2 {
    color: #2c3e50;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.continue {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 130px;
    background-color: #f0932b;
}